In [1]:
import numpy as np
import pandas as pd

In [2]:
nums = [2, 3, 5, 7, 11]
ser = pd.Series(nums)
ser

0     2
1     3
2     5
3     7
4    11
dtype: int64

In [3]:
strser = pd.Series("hello")

In [4]:
strser

0    hello
dtype: object

In [5]:
ser[0]

np.int64(2)

In [6]:
ser[0] * 10

np.int64(20)

In [7]:
ser[:3]

0    2
1    3
2    5
dtype: int64

In [8]:
ser + ser

0     4
1     6
2    10
3    14
4    22
dtype: int64

In [9]:
ser.index

RangeIndex(start=0, stop=5, step=1)

In [10]:
ser = pd.Series({"name": "Bob", "age": 29, "hometown": "Aurora"})
ser

name           Bob
age             29
hometown    Aurora
dtype: object

In [11]:
ser.index

Index(['name', 'age', 'hometown'], dtype='object')

In [12]:
ser["name"]

'Bob'

In [13]:
ser + ser

name              BobBob
age                   58
hometown    AuroraAurora
dtype: object

In [14]:
ser2 = pd.Series({"name": "Catherine", "hometown": "Villa Park"})

In [15]:
ser2

name         Catherine
hometown    Villa Park
dtype: object

In [16]:
ser + ser2

age                      NaN
hometown    AuroraVilla Park
name            BobCatherine
dtype: object

In [17]:
np.nan

nan

In [18]:
cities = pd.read_csv("us-cities-small.csv")
cities

               City           State  Population        lat         lon
0        Marysville      Washington       63269  48.051764 -122.177082
1            Perris      California       72326  33.782519 -117.228648
2         Cleveland            Ohio      390113  41.499320  -81.694361
3         Worcester   Massachusetts      182544  42.262593  -71.802293
4          Columbia  South Carolina      133358  34.000710  -81.034814
5         Waterbury     Connecticut      109676  41.558153  -73.051496
6             Eagan       Minnesota       65453  44.804132  -93.166886
7        Southfield        Michigan       73006  42.473369  -83.221873
8         Lafayette       Louisiana      124276  30.224090  -92.019843
9        Boise City           Idaho      214237  43.618710 -116.214607
10          Elkhart         Indiana       51265  41.681993  -85.976667
11       Buena Park      California       82882  33.867514 -117.998118
12         Marietta         Georgia       59089  33.952602  -84.549933
13           Parker        Colorado       48608  39.518600 -104.761363
14  West Palm Beach         Florida      102436  26.715342  -80.053375
15            Salem   Massachusetts       42544  42.519540  -70.896715
16           Aurora        Illinois      199963  41.760585  -88.320071
17         Leesburg        Virginia       47673  39.115662  -77.563602
18            Doral         Florida       50213  25.819542  -80.355330

In [19]:
type(ser)

pandas.core.series.Series

In [20]:
type(cities)

pandas.core.frame.DataFrame

In [21]:
cities[0]

KeyError: 0

In [22]:
cities["0"]

KeyError: '0'

In [23]:
cities = pd.read_csv("us-cities-small.csv", index_col=0)
cities

                          State  Population        lat         lon
City
Marysville           Washington       63269  48.051764 -122.177082
Perris               California       72326  33.782519 -117.228648
Cleveland                  Ohio      390113  41.499320  -81.694361
Worcester         Massachusetts      182544  42.262593  -71.802293
Columbia         South Carolina      133358  34.000710  -81.034814
Waterbury           Connecticut      109676  41.558153  -73.051496
Eagan                 Minnesota       65453  44.804132  -93.166886
Southfield             Michigan       73006  42.473369  -83.221873
Lafayette             Louisiana      124276  30.224090  -92.019843
Boise City                Idaho      214237  43.618710 -116.214607
Elkhart                 Indiana       51265  41.681993  -85.976667
Buena Park           California       82882  33.867514 -117.998118
Marietta                Georgia       59089  33.952602  -84.549933
Parker                 Colorado       48608  39.518600 -104.761363
West Palm Beach         Florida      102436  26.715342  -80.053375
Salem             Massachusetts       42544  42.519540  -70.896715
Aurora                 Illinois      199963  41.760585  -88.320071
Leesburg               Virginia       47673  39.115662  -77.563602
Doral                   Florida       50213  25.819542  -80.355330

In [24]:
cities.head()

                     State  Population        lat         lon
City
Marysville      Washington       63269  48.051764 -122.177082
Perris          California       72326  33.782519 -117.228648
Cleveland             Ohio      390113  41.499320  -81.694361
Worcester    Massachusetts      182544  42.262593  -71.802293
Columbia    South Carolina      133358  34.000710  -81.034814

In [25]:
cities.index

Index(['Marysville', 'Perris', 'Cleveland', 'Worcester', 'Columbia',
       'Waterbury', 'Eagan', 'Southfield', 'Lafayette', 'Boise City',
       'Elkhart', 'Buena Park', 'Marietta', 'Parker', 'West Palm Beach',
       'Salem', 'Aurora', 'Leesburg', 'Doral'],
      dtype='object', name='City')

In [27]:
cs = cities["State"]
cs

City
Marysville             Washington
Perris                 California
Cleveland                    Ohio
Worcester           Massachusetts
Columbia           South Carolina
Waterbury             Connecticut
Eagan                   Minnesota
Southfield               Michigan
Lafayette               Louisiana
Boise City                  Idaho
Elkhart                   Indiana
Buena Park             California
Marietta                  Georgia
Parker                   Colorado
West Palm Beach           Florida
Salem               Massachusetts
Aurora                   Illinois
Leesburg                 Virginia
Doral                     Florida
Name: State, dtype: object

In [28]:
cs.head()

City
Marysville        Washington
Perris            California
Cleveland               Ohio
Worcester      Massachusetts
Columbia      South Carolina
Name: State, dtype: object

In [29]:
type(cs)

pandas.core.series.Series

In [31]:
ctown = cities.loc["Cleveland"]
ctown

State              Ohio
Population       390113
lat            41.49932
lon          -81.694361
Name: Cleveland, dtype: object

In [32]:
type(ctown)

pandas.core.series.Series

In [33]:
cities.iloc[2]

State              Ohio
Population       390113
lat            41.49932
lon          -81.694361
Name: Cleveland, dtype: object

In [34]:
cities.head()

                     State  Population        lat         lon
City
Marysville      Washington       63269  48.051764 -122.177082
Perris          California       72326  33.782519 -117.228648
Cleveland             Ohio      390113  41.499320  -81.694361
Worcester    Massachusetts      182544  42.262593  -71.802293
Columbia    South Carolina      133358  34.000710  -81.034814

In [35]:
cities["Population"]

City
Marysville          63269
Perris              72326
Cleveland          390113
Worcester          182544
Columbia           133358
Waterbury          109676
Eagan               65453
Southfield          73006
Lafayette          124276
Boise City         214237
Elkhart             51265
Buena Park          82882
Marietta            59089
Parker              48608
West Palm Beach    102436
Salem               42544
Aurora             199963
Leesburg            47673
Doral               50213
Name: Population, dtype: int64

In [36]:
cities["Population"] > 100000

City
Marysville         False
Perris             False
Cleveland           True
Worcester           True
Columbia            True
Waterbury           True
Eagan              False
Southfield         False
Lafayette           True
Boise City          True
Elkhart            False
Buena Park         False
Marietta           False
Parker             False
West Palm Beach     True
Salem              False
Aurora              True
Leesburg           False
Doral              False
Name: Population, dtype: bool

In [37]:
cities[cities["Population"] > 100000]

                          State  Population        lat         lon
City
Cleveland                  Ohio      390113  41.499320  -81.694361
Worcester         Massachusetts      182544  42.262593  -71.802293
Columbia         South Carolina      133358  34.000710  -81.034814
Waterbury           Connecticut      109676  41.558153  -73.051496
Lafayette             Louisiana      124276  30.224090  -92.019843
Boise City                Idaho      214237  43.618710 -116.214607
West Palm Beach         Florida      102436  26.715342  -80.053375
Aurora                 Illinois      199963  41.760585  -88.320071

In [38]:
cities = pd.read_csv("us-cities-top-1k.csv")
cities.head()

         City           State  Population        lat         lon
0  Marysville      Washington       63269  48.051764 -122.177082
1      Perris      California       72326  33.782519 -117.228648
2   Cleveland            Ohio      390113  41.499320  -81.694361
3   Worcester   Massachusetts      182544  42.262593  -71.802293
4    Columbia  South Carolina      133358  34.000710  -81.034814

In [39]:
cities["City"].head()

0    Marysville
1        Perris
2     Cleveland
3     Worcester
4      Columbia
Name: City, dtype: object

In [40]:
len(cities["City"])

1000

In [42]:
len(set(cities["City"]))

925

In [43]:
import collections
ctr = collections.Counter(cities["City"])

In [44]:
ctr.most_common(20)

[('Springfield', 5),
 ('Lakewood', 4),
 ('Lancaster', 4),
 ('Columbus', 3),
 ('Bloomington', 3),
 ('Concord', 3),
 ('Lawrence', 3),
 ('Albany', 3),
 ('Newark', 3),
 ('Cleveland', 2),
 ('Columbia', 2),
 ('Lafayette', 2),
 ('Salem', 2),
 ('Aurora', 2),
 ('Westminster', 2),
 ('Jackson', 2),
 ('Kansas City', 2),
 ('Roswell', 2),
 ('Greenville', 2),
 ('Smyrna', 2)]

In [45]:
cities = pd.read_csv("us-cities-top-1k.csv", index_col=0)

In [46]:
len(cities)

1000

In [47]:
cities

                        State  Population        lat         lon
City
Marysville         Washington       63269  48.051764 -122.177082
Perris             California       72326  33.782519 -117.228648
Cleveland                Ohio      390113  41.499320  -81.694361
Worcester       Massachusetts      182544  42.262593  -71.802293
Columbia       South Carolina      133358  34.000710  -81.034814
...                       ...         ...        ...         ...
West New York      New Jersey       52122  40.787879  -74.014306
Everett         Massachusetts       42935  42.408430  -71.053663
Linden             New Jersey       41301  40.622048  -74.244590
Asheville      North Carolina       87236  35.595058  -82.551487
Compton            California       97877  33.895849 -118.220071

[1000 rows x 4 columns]

In [48]:
cities.loc["Springfield"]

                     State  Population        lat         lon
City
Springfield       Illinois      117006  39.781721  -89.650148
Springfield  Massachusetts      153703  42.101483  -72.589811
Springfield           Ohio       59357  39.924227  -83.808817
Springfield       Missouri      164122  37.208957  -93.292299
Springfield         Oregon       60177  44.046236 -123.022029

In [50]:
cities[cities["State"] == "California"]

                          State  Population        lat         lon
City
Perris               California       72326  33.782519 -117.228648
Buena Park           California       82882  33.867514 -117.998118
Westminster          California       91739  33.751342 -117.993992
Rancho Palos Verdes  California       42448  33.744461 -118.387017
Sacramento           California      479686  38.581572 -121.494400
...                         ...         ...        ...         ...
Stanton              California       38623  33.802516 -117.993116
Santa Clara          California      120245  37.354108 -121.955236
Oceanside            California      172794  33.195870 -117.379483
Lake Forest          California       79312  33.646966 -117.689218
Compton              California       97877  33.895849 -118.220071

[212 rows x 4 columns]

In [52]:
len(cities[cities["State"] == "Ohio"])

33

In [57]:
cities[(cities["State"] == "California") & (cities["Population"] > 400000)]

                    State  Population        lat         lon
City
Sacramento     California      479686  38.581572 -121.494400
San Diego      California     1355896  32.715738 -117.161084
Oakland        California      406253  37.804364 -122.271114
Long Beach     California      469428  33.770050 -118.193740
San Francisco  California      837442  37.774929 -122.419415
San Jose       California      998537  37.338208 -121.886329
Fresno         California      509924  36.746842 -119.772587
Los Angeles    California     3884307  34.052234 -118.243685

In [58]:
cities["Population"]["San Francisco"]

np.int64(837442)

In [59]:
pops = cities["Population"]
type(pops)

pandas.core.series.Series

In [60]:
npops = pops.to_numpy()

In [61]:
npops

array([  63269,   72326,  390113,  182544,  133358,  109676,   65453,
         73006,  124276,  214237,   51265,   82882,   59089,   48608,
        102436,   42544,  199963,   47673,   50213,   91739,  239538,
        181260,  172638,   73209,   62316,  467007,   42448,   61434,
         58043,   48611,  201332,   48913,   39083,  118577,   74885,
        202824,  258959,   39834,   67317,   38355,  479686,   87650,
         47149,   41776,   68224,  147214,  270811,   48508,  126456,
         82575,   52962,  210721,   76762, 1553165,   82631,  127763,
         51522,   61969,   42757, 1257676,  107100,  131224,   78041,
         83891,   62448,  107479,   50344,   56540,   50997,   80988,
         65690,   56707,   66893,   89130,   43849,   60697,  127359,
         61255,   88697,   61170,  256780,  126604,   83506,   53438,
         45587,   54932,   39325,  144864,  146526,   60112,  378715,
         59097,   57073,   48957,  609456,  125880,   49858,   67569,
         71016,   68667,   38609,   65902,  649495,  117006,   40584,
        201175,   55870,   37313,   52844,   66075,  233294,   44275,
         40590,   52105,   37442,   66318,   78373,   55046,   43363,
         39458,   99763,   66695,   56683,   40963,   83539,  226918,
        822553,   59325,  268738,   84349,  645966,   51074,  110742,
         52363,   38722,   59635,   47135,   39389,   37240,   69122,
         99769,  100065,  229972,   39309,  431746,  139969,   66900,
         39056,   55174,   38290,  186411,   63032,   43609, 1409019,
        125017,   68366,   46444,   83596,   42970,   75418,  151088,
         55419,  398121,   81050,   49267,   60509,   92020,  526116,
         68886,   39167,  842583,   39551,  100671,   81102,  120099,
         67032,   61397,   50458,   60070,   49188,  108817,  224922,
        108249,   37670,   42895,  400070,   58226,  104898,   70185,
        318416,   73790,  556495,  119980,   59366,  226877,  151348,
         55191,   37490,   90811,  123933,  610613,   41627,  457587,
         87776,   50233,   37999,   40922,   47989,   78327,   66297,
         70868,  148738,   42443,  116768,   65040,   97151,   67545,
         45508,   51483,  256496,   54790,   57170,   61653,   98424,
        104739,   61817,   78014,   56759,   83684,   44349,   49631,
         46402,  115708,   40388,   43341,   72864,  145948,  160614,
         65173,   50303,  181860,   68609,   50195,   49376,  688701,
         42635,   60872,  210358,  212113,  885400,   90412,   37385,
         91956,   54664,   39650,   62103,  101128,  255483,   59628,
         48592,  112067,   49998,   43250,  148483,   40383,   38015,
         87971,   61007,   40347,  278427,   48426,   60407,   65665,
         43509,  123099,   48733,   53665,  155662,  111378,   49177,
        248142,   77508,   43580,  104898,   49628,   43023,   46714,
         80429,   70812,   42889,   49799,  153703,  152061,   87965,
         96929,  199766,  297517,   40612,   56002,   68247,  282313,
         45129,  182020,   78967,   41778,   83860,  186254,   63338,
         40727,   39605,   56954,   59887,   59834,  151574,   49468,
         93282,   54686,   49087,   65184,   45799,   69999,   38816,
         86518,  646449,   53648,   38071,  101910,  113658,  116513,
        434353,   49228,   56143,   46281, 1355896,  171990,  108861,
        103500,  124435,  634464,   44113,   59471,  245475,  386552,
         52977,   58562,   45556,   37093,   37159,  147559,   62864,
         99889,   41757,   46454,   40915,  104410,   97492,   78902,
         84691,   37647,   87137,   89981,   55361,   76903,   50508,
         40351,  230571,   43607,   66086,   37213,  127558,  300950,
         46321,   96830,  136639,  148559,  137147,   41512,  406253,
         77846,   57525,  196429,  116288,  447841,   61085,   44730,
         63105,   74710,   41026,  194899,  118837,   57639,   47333,
         43330,   81443,  249146,  111707,   84577,   56895,   43286,
        843393,   71097,   37130,   54771,   80566,   70373,  131885,
         82788,  279639,   75548,   50444,   69079,   85285,   95334,
         51567,   86199,   84126,   64072,   60202,   39383,   68388,
         82821,   79446,  298118,   58946,   44206,   64652,   91113,
        112174,  183372,   96205,   44919,   42214,   82459,   61588,
         36956,   58879,   62603,  162592,  168228,   71525,   60519,
         82578,  143484,   51510,  234566,  107571,   67034,   54080,
         38863,  197350,  204408,   76185,   44412,   44096,   56449,
         55816,  173366,   45929,   41679,   76635,   91026,   67685,
         54135,   46377,   40714,   87273,   40921,   93257,  143355,
         71012,  469428,   88077,   47556,  159190,   53243,   63495,
         74110,  105370,   41889,  109320,   78822,   48139,   51848,
         86319,   38877,   93542,   66975,   39508,   49974,   69783,
         58918,   52206,   56069,   38027,   65123,  142772,   40768,
        167405,   90116,   70316,   54382,  837442,  203003,  136791,
         76572,   49417,   38142,   55831,  246139,   97368,   45851,
         52703,   62258,   37792,  213708,   40059,  121096,   78450,
         50111,   40836,   58253,  144669,  142357,  100710,   37659,
         37366,   39398,   39428,   69350,  652405,   40956,  161007,
        200327,   84249,   51395,  111542,  139731,   77657,   37610,
         59440,   59357,   79068,  345803,   86128,   98465,   81236,
         70924,   62227,   68190,  352957,   75413,   42907,   36888,
         90268,  439886,  204933,  192294,   52066,   53326,   98030,
         77593,  103166,   69976,   43092,   39414,  316619,  157161,
         54194,   70790,   73936,   96346,   45417,   45237,   73098,
         39791,  101324,   39860,   74907,  134873,   54842,   61792,
        123546,  104475,   42181,   54076,   41108,   73596,   64323,
         46979,   85156,  792862,   58416,   58298,   41398, 2718782,
        109059,   47134,   43907,  130660,   43935,  183270,   53956,
         44641,   48612,   76419,   71948,   39765,   77677,  117044,
         65416,   40999,   40566,   39375,   75806,   58582,   41705,
         94275,   92472,   85728,   72952,   39331,   50821,   52403,
         40918,  127999,   44359,  159503,   59738,   93184,   78740,
         90231,   40167,  179590,   42150,   63279,  653450,  228653,
        148892,   92147,   40249,   47591,   65176,   41664,   75018,
         77147,   67815, 2195914,  106780,  117025,  117796,   48554,
         56105,   63155,   53663,  162329,   75229,  203007,  110720,
         47186,   94089,   65028,   54980,   43116,   40921,   42774,
        257342,  294873,   86290,   43167,   71591,  345012,   50201,
         59351,  133579,  136699,   54898,   91648,   37101,   42907,
         39823,  197357,  334227,   57866,   58292,  133992,  127035,
         51982,   52044,   50550,  115276,   78199,   85927,   47523,
         48630,   56590,   53756,   53224,   75994,   81750,  107741,
         47777,   56756,   89387,   57203,   81121,   37530,  150251,
        102211,  249688,   49670,   51644,   51583,  603488,  152735,
        171016,  128429,   38661,   93494,  130288,  674433,  127679,
         54561,   37064,   51368,  198100,   80836,  171386,  104054,
        609893,   52477,   56792,   51763,  110972,   46081,   91119,
         74100,   63710,   37733,  172389,   72531,  109703,   43328,
         40059,   61025,   70190,   45712,  164676,   45775,   55456,
         41002,   81971,  363630,  417650,   74024,   52413,   40361,
         66174,   73987,  100886,   87004,  207510,   47547,   45285,
         86635,   95208,  599164,   74860,   41190,   40664,   97003,
        106114,  214114,   55670,   40481,   53752,   52575,  308428,
        106589,   91923,   54291,   40379,  147806,   69103,   67911,
         56620,  347884,   65098,   43886,   44575,  126700,   41734,
         52398,   48514,   59212,   64072,  104709,  138981,   66778,
         39795,   81295,   63771,   49707,   40435,   59778,   50725,
        998537,  109821,   65415,  118197,   64079,   37587,  236716,
         54350,   38606,   48725,   66333,   61238,   99770,   83424,
         85390,   58414,   53294,  159523,   78709,   38448,  165831,
         60189,   44057,   51701,  110378,  448479,   47846,   78804,
         78409,  509924,   37498,   56758,   50699,   71172,   40275,
        236441,   62298,   82809,   80872,   72528,   38632,   40641,
         50175,   83447,   71334,   38241,  177994,  233394,   74513,
        167500,   84430,   76817,   39412,  196021,   60456,   59957,
         41301,  110145,  274409,   89919,   40342,   51143,   71551,
        100050,   95884,   61808,   49761,  622104,  164122,   46094,
         50588,   91589,   65656,  127488,   49891,   50169,   37199,
         78960,   58994,   63816,  203446,   47333,   42284,   45981,
         39296, 8405837,  126181,  107740,   53063,   56481,  792727,
         92599,  120310,  102216,   40021,   58642,  110945,   87893,
         70365,   96539,  100223,   37711,  129030,   37165,  128731,
         47842,  147216,   47411,   47749,   38696,   67599,  147478,
        243344,   63820,   88826,   61488,  379577,  101074,   45426,
         38194,   66642,   60177,   95078,   57530,   55000,   66205,
         49133,   43060,   45796,   68001,   64544,   57282,   44820,
         41752,  175140,   71371,   37499,   72535,   50603,  229426,
         60568,  117240,  113972,   58590,   61050,  104779,   75570,
         39172, 3884307,   92734,  110077,   52536,  305841,  113242,
         84103,   95677,   36877,   50789,   90983,  191180,   43074,
       1513367,   55298,   46663,   55717,   57468,   94034,   37839,
         42419,   48338,  197575,  316381,   62088,   38510,  107289,
        234632,   38623,   46074,  102157,   89407,   72939,   47555,
         45394,  109397,   69813,   54068,  120245,  172794,   79312,
         57960,   52122,   42935,   41301,   87236,   97877])

In [62]:
type(npops)

numpy.ndarray

In [63]:
npops.ndim

1

In [64]:
"San Francisco" in cities

False

In [65]:
"State" in cities

True

In [69]:
cities.index

Index(['Marysville', 'Perris', 'Cleveland', 'Worcester', 'Columbia',
       'Waterbury', 'Eagan', 'Southfield', 'Lafayette', 'Boise City',
       ...
       'Hendersonville', 'Santa Clara', 'Oceanside', 'Lake Forest', 'Novi',
       'West New York', 'Everett', 'Linden', 'Asheville', 'Compton'],
      dtype='object', name='City', length=1000)

In [70]:
"San Francisco" in cities.index

True

In [83]:
cities = pd.read_csv("us-cities-top-1k.csv", index_col=0)

In [84]:
cities.index

Index(['Marysville', 'Perris', 'Cleveland', 'Worcester', 'Columbia',
       'Waterbury', 'Eagan', 'Southfield', 'Lafayette', 'Boise City',
       ...
       'Hendersonville', 'Santa Clara', 'Oceanside', 'Lake Forest', 'Novi',
       'West New York', 'Everett', 'Linden', 'Asheville', 'Compton'],
      dtype='object', name='City', length=1000)

In [85]:
pops = cities["Population"]

In [86]:
pops["San Francisco"]

np.int64(837442)

In [87]:
cities["Population"]["San Francisco"]

np.int64(837442)

In [88]:
pops["San Francisco"] = 1

/tmp/ipykernel_13462/3154397006.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pops["San Francisco"] = 1

In [89]:
pops["San Francisco"]

np.int64(1)

In [90]:
cities["Population"]["San Francisco"]

np.int64(1)

In [95]:
states = pd.read_csv("NST-EST2021-alldata.csv", index_col=4)
states.head(10)

,SUMLEV,REGION,DIVISION,STATE,ESTIMATESBASE2020,POPESTIMATE2020,POPESTIMATE2021,NPOPCHG_2020,NPOPCHG_2021,BIRTHS2020,...,NETMIG2020,NETMIG2021,RESIDUAL2020,RESIDUAL2021,RBIRTH2021,RDEATH2021,RNATURALINC2021,RINTERNATIONALMIG2021,RDOMESTICMIG2021,RNETMIG2021
NAME,,,,,,,,,,,,,,,,,,,,,
United States,10,0,0,0,331449281,331501080,331893745,51799,392665,893000,...,12247,244622,0,0,10.798957,10.352637,0.446319,0.737485,0.000000,0.737485
Northeast Region,20,1,0,0,57609148,57525633,57159838,-83515,-365795,145067,...,-79429,-333592,-1024,-1151,9.950554,10.492070,-0.541516,0.977386,-6.794897,-5.817511
Midwest Region,20,2,0,0,68985454,68935174,68841444,-50280,-93730,190941,...,-47266,-85268,-718,5156,10.860566,11.058248,-0.197682,0.549222,-1.786994,-1.237772
South Region,20,3,0,0,126266107,126409007,127225329,142900,816322,345546,...,134454,770076,528,-3385,11.168835,10.777476,0.391359,0.886268,5.186064,6.072332
West Region,20,4,0,0,78588572,78631266,78667134,42694,35868,211446,...,4488,-106594,1214,-620,10.767153,8.947910,1.819243,0.487570,-1.842880,-1.355309
Alabama,40,3,6,1,5024279,5024803,5039877,524,15074,13410,...,3337,23380,-75,242,11.191613,12.890226,-1.698613,0.247201,4.398749,4.645950
Alaska,40,4,9,2,733391,732441,732673,-950,232,2407,...,-2012,-3353,39,-54,12.667956,7.700425,4.967532,0.718033,-5.295151,-4.577118
Arizona,40,4,8,4,7151502,7177986,7276316,26484,98330,18036,...,26791,97504,-3,-6,10.584669,10.469547,0.115121,0.619608,12.871739,13.491347
Arkansas,40,3,7,5,3011524,3012232,3025891,708,13659,8554,...,1618,16840,-15,55,11.599962,12.671819,-1.071856,0.272932,5.304960,5.577892
California,40,4,9,6,39538223,39499738,39237836,-38485,-261902,104957,...,-62562,-352960,858,-938,10.778412,8.441637,2.336775,0.364223,-9.329701,-8.965478

In [96]:
states.iloc[0]

SUMLEV                          10
REGION                           0
DIVISION                         0
STATE                            0
ESTIMATESBASE2020        331449281
POPESTIMATE2020          331501080
POPESTIMATE2021          331893745
NPOPCHG_2020                 51799
NPOPCHG_2021                392665
BIRTHS2020                  893000
BIRTHS2021                 3581986
DEATHS2020                  853448
DEATHS2021                 3433943
NATURALINC2020               39552
NATURALINC2021              148043
INTERNATIONALMIG2020         12247
INTERNATIONALMIG2021        244622
DOMESTICMIG2020                  0
DOMESTICMIG2021                  0
NETMIG2020                   12247
NETMIG2021                  244622
RESIDUAL2020                     0
RESIDUAL2021                     0
RBIRTH2021               10.798957
RDEATH2021               10.352637
RNATURALINC2021           0.446319
RINTERNATIONALMIG2021     0.737485
RDOMESTICMIG2021               0.0
RNETMIG2021               0.737485
Name: United States, dtype: object

In [97]:
sideboard = states[states["STATE"] > 0]
sideboard.head()

,SUMLEV,REGION,DIVISION,STATE,ESTIMATESBASE2020,POPESTIMATE2020,POPESTIMATE2021,NPOPCHG_2020,NPOPCHG_2021,BIRTHS2020,...,NETMIG2020,NETMIG2021,RESIDUAL2020,RESIDUAL2021,RBIRTH2021,RDEATH2021,RNATURALINC2021,RINTERNATIONALMIG2021,RDOMESTICMIG2021,RNETMIG2021
NAME,,,,,,,,,,,,,,,,,,,,,
Alabama,40,3,6,1,5024279,5024803,5039877,524,15074,13410,...,3337,23380,-75,242,11.191613,12.890226,-1.698613,0.247201,4.398749,4.645950
Alaska,40,4,9,2,733391,732441,732673,-950,232,2407,...,-2012,-3353,39,-54,12.667956,7.700425,4.967532,0.718033,-5.295151,-4.577118
Arizona,40,4,8,4,7151502,7177986,7276316,26484,98330,18036,...,26791,97504,-3,-6,10.584669,10.469547,0.115121,0.619608,12.871739,13.491347
Arkansas,40,3,7,5,3011524,3012232,3025891,708,13659,8554,...,1618,16840,-15,55,11.599962,12.671819,-1.071856,0.272932,5.304960,5.577892
California,40,4,9,6,39538223,39499738,39237836,-38485,-261902,104957,...,-62562,-352960,858,-938,10.778412,8.441637,2.336775,0.364223,-9.329701,-8.965478

In [98]:
backleft = states[states["SUMLEV"] == 40]
backleft.head()

,SUMLEV,REGION,DIVISION,STATE,ESTIMATESBASE2020,POPESTIMATE2020,POPESTIMATE2021,NPOPCHG_2020,NPOPCHG_2021,BIRTHS2020,...,NETMIG2020,NETMIG2021,RESIDUAL2020,RESIDUAL2021,RBIRTH2021,RDEATH2021,RNATURALINC2021,RINTERNATIONALMIG2021,RDOMESTICMIG2021,RNETMIG2021
NAME,,,,,,,,,,,,,,,,,,,,,
Alabama,40,3,6,1,5024279,5024803,5039877,524,15074,13410,...,3337,23380,-75,242,11.191613,12.890226,-1.698613,0.247201,4.398749,4.645950
Alaska,40,4,9,2,733391,732441,732673,-950,232,2407,...,-2012,-3353,39,-54,12.667956,7.700425,4.967532,0.718033,-5.295151,-4.577118
Arizona,40,4,8,4,7151502,7177986,7276316,26484,98330,18036,...,26791,97504,-3,-6,10.584669,10.469547,0.115121,0.619608,12.871739,13.491347
Arkansas,40,3,7,5,3011524,3012232,3025891,708,13659,8554,...,1618,16840,-15,55,11.599962,12.671819,-1.071856,0.272932,5.304960,5.577892
California,40,4,9,6,39538223,39499738,39237836,-38485,-261902,104957,...,-62562,-352960,858,-938,10.778412,8.441637,2.336775,0.364223,-9.329701,-8.965478

In [101]:
backright = states[states["STATE"] > 0]
backright.head()

,SUMLEV,REGION,DIVISION,STATE,ESTIMATESBASE2020,POPESTIMATE2020,POPESTIMATE2021,NPOPCHG_2020,NPOPCHG_2021,BIRTHS2020,...,NETMIG2020,NETMIG2021,RESIDUAL2020,RESIDUAL2021,RBIRTH2021,RDEATH2021,RNATURALINC2021,RINTERNATIONALMIG2021,RDOMESTICMIG2021,RNETMIG2021
NAME,,,,,,,,,,,,,,,,,,,,,
Alabama,40,3,6,1,5024279,5024803,5039877,524,15074,13410,...,3337,23380,-75,242,11.191613,12.890226,-1.698613,0.247201,4.398749,4.645950
Alaska,40,4,9,2,733391,732441,732673,-950,232,2407,...,-2012,-3353,39,-54,12.667956,7.700425,4.967532,0.718033,-5.295151,-4.577118
Arizona,40,4,8,4,7151502,7177986,7276316,26484,98330,18036,...,26791,97504,-3,-6,10.584669,10.469547,0.115121,0.619608,12.871739,13.491347
Arkansas,40,3,7,5,3011524,3012232,3025891,708,13659,8554,...,1618,16840,-15,55,11.599962,12.671819,-1.071856,0.272932,5.304960,5.577892
California,40,4,9,6,39538223,39499738,39237836,-38485,-261902,104957,...,-62562,-352960,858,-938,10.778412,8.441637,2.336775,0.364223,-9.329701,-8.965478

In [103]:
sb = sideboard
sb["DEATHS2021"] - sb["DEATHS2020"]

NAME
Alabama                  48720
Alaska                    4257
Arizona                  57325
Arkansas                 28808
California              250599
Colorado                 36153
Connecticut              28218
Delaware                  9006
District of Columbia      5165
Florida                 191957
Georgia                  79612
Hawaii                   10875
Idaho                    12468
Illinois                 97833
Indiana                  57242
Iowa                     26533
Kansas                   23426
Kentucky                 42296
Louisiana                41875
Maine                    13128
Maryland                 46526
Massachusetts            53078
Michigan                 87886
Minnesota                40175
Mississippi              28401
Missouri                 54759
Montana                   8972
Nebraska                 14172
Nevada                   23914
New Hampshire            11499
New Jersey               68541
New Mexico               17274
New York                145690
North Carolina           86857
North Dakota              5472
Ohio                    107579
Oklahoma                 37070
Oregon                   33258
Pennsylvania            119350
Rhode Island              8931
South Carolina           47386
South Dakota              6679
Tennessee                63071
Texas                   188468
Utah                     16462
Vermont                   5080
Virginia                 63816
Washington               53193
West Virginia            20107
Wisconsin                46791
Wyoming                   4542
Puerto Rico              25386
dtype: int64

In [104]:
sb["DEATHS2021"] - sb["DEATHS2020"] < 0

NAME
Alabama                 False
Alaska                  False
Arizona                 False
Arkansas                False
California              False
Colorado                False
Connecticut             False
Delaware                False
District of Columbia    False
Florida                 False
Georgia                 False
Hawaii                  False
Idaho                   False
Illinois                False
Indiana                 False
Iowa                    False
Kansas                  False
Kentucky                False
Louisiana               False
Maine                   False
Maryland                False
Massachusetts           False
Michigan                False
Minnesota               False
Mississippi             False
Missouri                False
Montana                 False
Nebraska                False
Nevada                  False
New Hampshire           False
New Jersey              False
New Mexico              False
New York                False
North Carolina          False
North Dakota            False
Ohio                    False
Oklahoma                False
Oregon                  False
Pennsylvania            False
Rhode Island            False
South Carolina          False
South Dakota            False
Tennessee               False
Texas                   False
Utah                    False
Vermont                 False
Virginia                False
Washington              False
West Virginia           False
Wisconsin               False
Wyoming                 False
Puerto Rico             False
dtype: bool

In [105]:
cities[cities["State"] == 'California']

                          State  Population        lat         lon
City
Perris               California       72326  33.782519 -117.228648
Buena Park           California       82882  33.867514 -117.998118
Westminster          California       91739  33.751342 -117.993992
Rancho Palos Verdes  California       42448  33.744461 -118.387017
Sacramento           California      479686  38.581572 -121.494400
...                         ...         ...        ...         ...
Stanton              California       38623  33.802516 -117.993116
Santa Clara          California      120245  37.354108 -121.955236
Oceanside            California      172794  33.195870 -117.379483
Lake Forest          California       79312  33.646966 -117.689218
Compton              California       97877  33.895849 -118.220071

[212 rows x 4 columns]

In [106]:
cali = cities[cities["State"] == 'California']
len(cali) / len(cities)

0.212

In [108]:
big = cities[cities["Population"] > 500000]
len(big) / len(cities)

0.033

In [109]:
.212 * .033

0.0069960000000000005

In [111]:
bigcali = cities[(cities["State"] == "California") & (cities["Population"] > 500000)]
len(bigcali) / len(cities)

0.004